$primaryColor: rgb(36, 36, 36);
$secondaryColor: rgb(0, 128, 128);

$transition_1: all 150ms;
$transition_2: all 200ms;
$transition_3: all 250ms;
$transition_4: all 300ms;
$transition_5: all 350ms;
$transition_6: all 400ms;
$transition_7: all 450ms;
$transition_8: all 500ms;
$transition_9: all 550ms;
$transition_10: all 600ms;